{% extends 'base.html.twig' %}

{% block title %}Nueva contraseña
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-4">
			<h1 class="mb-4 text-center">Nueva contraseña</h1>

			{% if app.user %}
				<span id="user-email" data-email="{{ app.user.email }}" class="d-none"></span>
			{% endif %}

			{{ form_start(resetForm, {
            attr: { class: 'card p-4 shadow-sm' }
        }) }}

			<div class="mb-3">
				{{ form_label(resetForm.plainPassword.first, 'Nueva contraseña', {
                    label_attr: { class: 'form-label fw-semibold mb-2' }
                }) }}
				{{ form_widget(resetForm.plainPassword.first, {
                    attr: {
                        class: 'form-control',
                    }
                }) }}
				{{ form_errors(resetForm.plainPassword.first) }}

				<ul class="mt-2 small" id="password-rules">
					<li id="rule-length" class="text-danger">Mínimo 8 caracteres</li>
					<li id="rule-lower" class="text-danger">Al menos una letra minúscula</li>
					<li id="rule-upper" class="text-danger">Al menos una letra mayúscula</li>
				</ul>
			</div>

			<div class="mb-3">
				{{ form_label(resetForm.plainPassword.second, 'Repetir contraseña', {
                    label_attr: { class: 'form-label fw-semibold mb-2' }
                }) }}
				{{ form_widget(resetForm.plainPassword.second, {
                    attr: {
                        class: 'form-control',
                        id: 'password2'
                    }
                }) }}
				{{ form_errors(resetForm.plainPassword.second) }}
			</div>

			<button type="submit" class="btn btn-success w-100 mt-2">
				Actualizar contraseña
			</button>

			{{ form_end(resetForm) }}
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
        const input = document.getElementById('change_password_form_plainPassword_first');
        if (! input) 
        return;

        function countRules(value) {
        let ok = 0;

        // 1) Mínimo 8 caracteres
        if (value.length >= 8) 
        ok++;

        // 2) Al menos una minúscula
        if (/[a-z]/.test(value)) 
        ok++;

        // 3) Al menos una mayúscula
        if (/[A-Z]/.test(value)) 
        ok++;

        return ok; // 0 a 3
        }

        function updateColor(ok) {
        input.classList.remove('is-invalid', 'is-valid', 'border-danger', 'border-warning', 'border-success');

        if (ok === 0) {
        input.classList.add('is-invalid', 'border-danger'); // rojo
        } else if (ok === 1 || ok === 2) {
        input.classList.add('border-warning'); // naranja
        } else if (ok === 3) {
        input.classList.add('is-valid', 'border-success'); // verde
        }
        }

        input.addEventListener('input', function () {
        const value = input.value;
        const ok = countRules(value);
        updateColor(ok);
        });
        });
	</script>


{% endblock %}
