{% extends 'admin/base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<h1 class="mb-4">Dashboard</h1>

<div class="row mb-4">
    <div class="col-md-3">
        <div class="card p-3 text-center shadow-sm bg-dark text-white">
            <h5>Pedidos totales</h5>
            <p class="fs-4">{{ totalPedidos }}</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 text-center shadow-sm bg-secondary text-white">
            <h5>Pedidos pendientes</h5>
            <p class="fs-4">{{ pedidosPendientes }}</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 text-center shadow-sm bg-success text-white">
            <h5>Pedidos pagados</h5>
            <p class="fs-4">{{ pedidosPagados }}</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 text-center shadow-sm bg-dark text-white">
            <h5>Usuarios</h5>
            <p class="fs-4">{{ totalUsuarios }}</p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-3">
        <div class="card p-3 text-center shadow-sm bg-secondary text-white">
            <h5>Productos</h5>
            <p class="fs-4">{{ totalProductos }}</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 text-center shadow-sm bg-dark text-white">
            <h5>Ingresos</h5>
            <p class="fs-4">{{ ingresos }} €</p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
