{% extends 'admin/base.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}

{% block body %}
<h1 class="mb-4">Nuevo Producto</h1>

{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

<div class="mb-3">{{ form_row(form.nombre) }}</div>
<div class="mb-3">{{ form_row(form.descripcion) }}</div>
<div class="mb-3">{{ form_row(form.precio) }}</div>
<div class="mb-3">{{ form_row(form.imagen) }}</div>

<button type="submit" class="btn btn-success mt-3">Guardar Producto</button>
<a href="{{ path('admin_productos_list') }}" class="btn btn-secondary mt-3 ms-2">Volver a productos</a>

{{ form_end(form) }}
{% endblock %}
